body {
width:300px;
margin:0px auto;
}
body {
	font-size: 2em;
}
#display{
	border-width: 2px;
	border-color: #000;
	border-style: solid;
	background-color: #fff;
	display: inline-block;
	margin: 3px;
	text-align: center;
}

.button {
	width: 48px;
    height: 35px; 
}
.bigbutton {
	width: 148px;
    height: 35px; 
}
#display {
	width: 305px;
	height: 20px;
	padding: 20px;
	text-align: right;
	border-radius: 0;
}
